@import 'reset.css';

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.iframes__back{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.dummy{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.button_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;
    top: 50%;
    transform: translate(0,-50%);
}

.button{
    background-color: white;
    cursor: pointer;
    padding: 25px 40px;
}
.button a{
    text-decoration: none;
    color: black;
}